*{
  margin: 0px;
  padding: 0px;
  background-color: #0f172a;
  color: #F8FAFF;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header h1{
    display: flex;
    padding-top: 15px;
    justify-content: center;
}
.input{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    height: 30px;
    gap:10px;
}
#enter{
    width: 50px;
    border: solid 1px;
}
ol{
    display: flex;
    height: auto;
    /* width: 200px; */
    justify-content: center;
    margin-top: 30px;
}
.list-item{
    display: flex;
    height: 30px;
    width : 200px;
    border-radius: 10%;
    border: 2px solid;
    align-items: center;
    justify-content: center;
}


